body {
    background-color: #EFEFEF;
    text-align: center;
    font-family:garamond;
}
.header {
    height:200px;
    padding: 20px;
    text-align: center;
    background: #A9A9A9;
    color: white;
    font-size: 30px;
    text-decoration: underline;
}
.news {
    background-color:#EFEFEF;
    padding:60px;
    max-width:800px;
    margin:0 auto;
}
.article-description {
    background-color: #CAEBF2;
    font-family: 'Times New Roman', Times, serif
}
.article-title {
    background-color:#CAEBF2
}
.incidentals {
    color: #ff3b3f;
    font-weight:bolder
}
.rounded {
    border-top: 8px solid black;
    border-radius: 5px;
}
